$mono00: #fff;
$mono03: #e9eaee;
$mono04: #dbdcdd;
$mono06: #92979d;
$mono07: #697077;

$primary-color000: #0004fa;
$primary-color001: #5c5eff;

$disabled-color001: #a7a7a7;

$error: rgb(255, 0, 0);
$warn: rgb(255, 94, 0);

$placeholder-text-color: #dbdcdd;
$normal-text-color: #060808;