@import 'src/style/color.scss';

@mixin date-picker-calendar($font-size) {
  position: absolute;
  padding: 16px 10px 16px 10px;
  background-color: $mono00;
  margin-top: 7px;
  margin-left: 1px;
  border-radius: 6px;
  font-size: $font-size;
  box-shadow: 0 3px 9px 0 rgba(18, 22, 25, 0.08),
    0 2px 4px 1px rgba(18, 22, 25, 0.14);
}

.date-picker-calendar {
  display: flex;
  &.large {
    @include date-picker-calendar(18px);
  }
  &.medium {
    @include date-picker-calendar(16px);
  }
  &.small {
    @include date-picker-calendar(14px);
  }
}
